.main-app-wrapper{
  /*width: "100%";*/
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
}

.container-outer {
  position: absolute;
  left: 150px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.container-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /*background: "white"*/
  overflow: hidden;
  overflow-y: auto;
}

.topMenu{
  box-shadow: none;
  background: wheat;
  padding-right: 0.5em;
}

.topMenu-header{
  color: #6435C9;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0;
  width: 150px;
}

.auth0-lock-badge-bottom {
  display: none;
}

fieldset {
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.01);
  border-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
}

fieldset fieldset {
  background: transparent;
  /*padding: 0;*/
  /*border: none;*/
  margin: 0;
}

/*fieldset fieldset > legend {
  color: transparent;
}*/

form + form, fieldset + fieldset {
  margin-top: 1.5em;
}

.react-datepicker__input-container {
  display: inherit !important;
}
