.ReactTable{
    background: #ffffff;
}

.ReactTable .rt-tbody {
    min-height: 200px;
    justify-content: flex-start;
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow-y: overlay !important;
    overflow-x: hidden;
    /*background: #c3c3d4;*/
}
.ReactTable .rt-tr-group {
    /*min-height:35px;*/
    flex: 0 0 auto;
}
.rt-thead {
    flex: 0 0 auto !important;
    overflow-y: overlay;
    overflow-x: hidden;
    /*border-bottom: 2px solid rgba(0,0,0,0.1);*/

}
.ReactTable .rt-tbody .rt-tr-group:last-child{
    border-bottom: solid 1px rgba(0,0,0,0.05);
}
.rt-table{
    flex:1 0 auto;
}
.ReactTable .-pagination{
    flex: 0 0 auto;
    text-transform: uppercase !important;

}

.ReactTable .-pagination .-btn{
    text-transform: uppercase;
    font-weight: normal;
}

.ReactTable{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border: none;
}

.rt-thead, .-pagination{
    background: #e8e8e8;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.51);
}

.ReactTable .rt-thead.-filters .rt-th{
    border-right: 1px solid rgba(0,0,0,0.05);
    background: #eeeeee;
}
.ReactTable .rt-thead.-filters{
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.ReactTable .rt-thead.-filters .rt-th {
    display: table-header-group;

}
.ReactTable .rt-thead.-header .rt-th{
    padding: 5px 5px;

}

.rt-resizable-header-content{
    /*text-transform: uppercase !important;*/
    font-weight: normal;
    color: rgba(0, 0, 0, 0.51);
}
.ReactTable > .-pagination{

    padding: 0;
    box-shadow: none;
    border-width: 1px;
}

.ReactTable .-pagination .-btn{
    border-radius: 0;
}
.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc{
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            radial-gradient(transparent 70%, transparent 72%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - .5em) .5em;
    background-size:
            5px 5px,
            5px 5px,
            1.5em 1.5em;
    background-repeat: no-repeat;
    box-shadow: none;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc{
    background-image:
            linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%),
            radial-gradient(transparent 70%, transparent 72%);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - .5em) .5em;
    background-size:
            5px 5px,
            5px 5px,
            1.5em 1.5em;
    background-repeat: no-repeat;
    /*border-color: green;*/
    /*outline: 0;*/
    box-shadow: none;
}